TARGET_CHANNEL=@lpr1_treugolnik
FILTER_KEYWORD=Белгород
POLL_INTERVAL=30

# Yandex Messenger Bot (https://yandex.ru/dev/messenger/)
YANDEX_BOT_TOKEN=ваш_токен_яндекс_бота
YANDEX_TARGET_LOGIN=ваш_логин@ваша-организация.ya
# или
YANDEX_TARGET_CHAT_ID=
